*{
    margin: 0;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}
.calculator{
    background-color:rgba(0, 0, 0, 0.62);
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    height: 60px;
    width: 60px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: transparent;
    margin: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
form .display{
    display: flex;
    text-align: right;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    font-size: 45px;
    flex: 1;
    box-shadow: none;
}
form input.equal{
    width: 140px;
}
form input.operator{
    color: blue;
}

